section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--itemback-alt); */
  z-index: -9;
}

.container {
  margin: auto;
  max-width: 700px;
  background-color: var(--back);
  z-index: 10;
}

.step {
  display: none;
}

.step.active {
  display: block;
}

.step-1, .step-3 {
  width: 80vw;
  max-width: 666px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 47.5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.form-group {
  margin-top: 20px;
  width: 100%;
}

.form-group input {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  margin-top: 5px;
  border-radius: 4px;
}

button.next-btn,
button.prev-btn,
button.submit-btn {
  float: right;
  margin-top: 20px;
  padding: 10px 30px;
  border: none;
  background-color: var(--accent);
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

button.prev-btn {
  float: left;
  background-color: var(--background);
  color: var(--accent);
  text-align: left;
}

button.next-btn {
  background-color: var(--accent)
}



.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
}

/* .parent-2 {
  margin-top: 45px;
} */

.option {
  font-size: 1.5rem;
  min-width: 120px;
  /* margin-bottom: 15px;
  margin-top: 15px; */
  flex-grow: 1;
}

button.option-btn {
  padding: 15px 45px;
 
  color: var(--text-inactive);
  background-color: var(--background);
  border-radius: 5px;
  font-size: 1.25rem;
  width: 100%;
  min-width: 150px;
  cursor: pointer;
  border: 2px solid var(--itemback);
}

button.option-btn:hover {
  color: var(--text);
  background-color: var(--background);
  border: 2px solid var(--accent);
}

.title {
  margin-top: 1.25em;
  width: 100%;
  text-align: left;
  color: var(--accent);
  text-align: left;

  
  margin-bottom: 1.5vw;
}

/* h2 {
  font-size: 2.5em;
} */


.workouts {
  margin-top: 20px;
}

.category {
  font-family: 'Bebas Neue';
  font-size: 24px;
  color: var(--text-inactive);
  /* background-color: #1a1c1c; */
  text-align: left;
  /* padding: 15px; */
  letter-spacing: 0.075em;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.btn2 {
  margin-bottom: 0.75rem;
  min-width: 290px;
}

.btn2 .btnf:hover {
  border: 2px solid var(--accent);
  color: var(--text);
}

.btn2:active {
  border: 2px solid var(--accent);
  color: var(--text);
}

.btnf:active {
  border: 2px solid var(--accent);
  color: var(--text);
}

.btnf::selection {
  border: 2px solid var(--accent);
  color: var(--text);
}

input {
  background-color: var(--background);
  padding: 15px;
  border-radius: 5px;
  color: var(--text);
  margin-bottom: 1rem;
  color: var(--text-inactive);
  font-size: 1em;
  /* min-width: 200px; */
  /* flex-grow: 1; */
  border: 2px solid var(--itemback);
  cursor: pointer;
  /* margin-right: 10px; */
}

.hidden {
  display: none;
}

.modal {
  background-color: var(--itemback);
  position: fixed;
  bottom: -1px;
  /* backdrop-filter: blur(20px) brightness(120%); */
  color: var(--text);

  width: 75vw;
  margin: auto;


  height: auto;
  border-radius: 15px 15px 0 0;
  border: 1px solid var(--accent);
  /* box-sizing: border-box; */
  /* text-align: center; */
  /* border: 3px solid black; */
  padding: 2.5em;
  z-index: 999;
}

.inst {
  margin-bottom: 0.5em;
}

.activeOption {
  color: var(--text);
  border-color: var(--accent);
  background: var(--iteminactive);
}

@media only screen and (max-width: 710px) {
  .box {
    flex-direction: column;
    align-items: center;
    justify-content: start;

  }

  .btn2 {
    width: 100%;
  }

  .modal {
    width: 95vw;
    margin: auto;
    /* margin-left: -10vw; */
    padding: 1.5em;
  }
}


input.reps-input {
 
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
  background-color: var(--itemback);
  padding: 15px !important;
  border-radius: 5px;
  color: var(--text) !important;
  margin: 1rem 0 1rem 0;
  min-width: 250px;
  width: 100%;
  border: 2px solid var(--background)!important;

}


input.reps-input:active {
  color: var(--text) !important;
  border: 2px solid var(--accent) !important;
}

input.reps-input::selection {
  color: var(--text) !important;
  border: 2px solid var(--accent) !important;
}

button.reps-btn {
  padding: 15px 45px;
  flex-grow: 1;

  color: var(--text-inactive);
  background-color: var(--background);
  border-radius: 5px;
  font-size: 1.25rem;
  min-width: 150px;
  /* font-weight: 600; */
  cursor: pointer;
  border: 2px solid var(--itemback);
}

button.option-btn:hover {
  color: var(--text);
  background-color: var(--background);
  border: 2px solid var(--accent);

}

.given-options{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  gap: 10px;
}

.your{
  background: var(--iteminactive);
  padding: 15px;
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  border: 2px solid var(--accent);
}

.btnf1{
  padding: 15px 51px !important;
}