

.container {
  /* background: var(--itemback); */
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card {
  width: 100vw;
  max-width: 390px;
  color: var(--text);
  padding: 45px;
  background-color: var(--itemback);
  margin: auto;
  position: absolute;

  border-radius: 5px;
  border: 1px solid #28ca9f;
}

@media screen and (max-width: 720px) {
  body {
    background: var(--itemback) !important;
  }

  .card {
    border: none;
    padding: 0;
    max-width: 85vw;
  }
  
  .w-nominal {
    /* max-width: 50%; */
    flex-shrink: 2;
  
  }
    .w-unit{
      flex-grow: 2;
      max-width: 25%;
    }
}




.el-title {
  margin-bottom: 22.5px;
  word-wrap: normal;
}

.input-child {
  margin-bottom: 22.5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

input {
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  width: 100%;
}

button {
  font-size: 1rem;
  font-weight: 550;
  cursor: pointer;
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
}

.hidden {
  display: none;
}


.b-login {
  color: var(--background);
  background-color: var(--accent);
  /* border: 1px solid #28ca9f; */
}



.option {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content:center
}

.buttons {
  width: 100%;
  margin-bottom: 22.5px;
}

.signup-button {
  width: 100%;
  color: var(--itemback);
  background-color: var(--accent);
  /* border: 1px solid #28ca9f; */
}

.login-button {
  width: 100%;
  color: var(--background);
  background-color: var(--accent);
  /* border: 1px solid #28ca9f; */
}


a {
  color: var(--accent);
  text-decoration: none;
}

h4 {
  font-weight: 400;
}

.switch,
.le-switch {
  display: block;
  background-color: var(--itemback);
  border: none;
  padding: 0;
  font-weight: 400;
  color: var(--accent);
  text-decoration: none;
  margin-left: 10px;
}


.error-message {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.25rem;
  width: auto;
  text-align: center;
  background: rgb(227, 193, 198);
  color: rgb(159, 33, 33);
  border-radius: 5px;
}

.success-message {

  padding: 0.25rem;
  width: auto;
  text-align: center;
  background: rgb(193, 227, 211);
  color: var(--iteminactive);
  border-radius: 5px;

}
.input-w{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.w-nominal{
  flex-grow: 1;
  margin-right: 0.5em;
}

/* @media screen and (min-width: 720px) {
  .w-nominal {
    max-width: 52%;

  }
} */

.w-unit{
  display: block;
  flex-shrink: 0;
}

.btnoff{
  border-radius: 0 5px 5px 0;
  background: var(--accent);
}

.btnon {
  border-radius: 5px 0 0 5px;
 
}

.btn {
 
  align-items: center;
  height: 2.5rem;
  border: 2px solid var(--accent);
  display: inline-block;
  padding:5px;
  position: relative;
  text-align: center;
  transition: background 600ms ease, color 600ms ease;
  font-weight: 550;
}

input[type="radio"].toggle {

  display: none;
  

  &+label {
    background: var(--itemback);
    cursor: pointer;
    min-width: 60px;
    color: var(--inactive);

    /* &:hover {
      background: none;
      color: #1a1a1a;
    } */

    &:after {
     
      content: "lb";
      height: 100%;
      position: absolute;
      top: 0;
      transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
      width: 100%;
      z-index: -1;
    }
  }

  &.toggle-left+label {
    border-right: 0;

    &:after {
      left: 100%
    }
  }

  &.toggle-right+label {
    margin-left: -5px;

    &:after {
      left: -100%;
    }
  }

  &:checked+label {
    background: var(--accent);
    cursor: default;
    color: var(--itemback);
    transition: color 200ms;

    &:after {
      left: 0;
    }
  }
}

.switch-field {
  display: flex;
  /* flex-grow: 1; */
  /* height: 2.6rem; */
  /* overflow: hidden; */
  font-weight: 550;
  align-items: center;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  width:auto;
  border: 0;
}

.switch-field label {
  background-color: var(--iteminactive);
  color: rgba(0, 0, 0);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked+label {
  background-color: var(--accent);
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

