
 


.container {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
  
.card {
    width: 100vw;
    max-width: 390px;
    color: var(--text);
    padding: 45px;
    background-color: var(--itemback);
    margin: auto;
    position: absolute;
    margin: auto;
    border-radius: 5px;
    border: 1px solid #28ca9f;
}

  @media screen and (max-width: 720px) {
      body {
          background: var(--itemback) !important;
      }

      .card {

          border: none;
          padding: 0;
          max-width: 85vw;
      }
  }


.el-title{
    margin-bottom: 22.5px;
    word-wrap: normal;
}

.input-child{
    margin-bottom: 22.5px;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

input{
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    width: 100%;
}

button{
    font-size: 1rem;
    font-weight: 550;
    cursor: pointer;
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

.hidden{
    display: none;
}


.b-login{
    color: var(--background);
    background-color: var(--accent);
    
    /* border: 1px solid #28ca9f; */
}

.b-signup{
    background-color: var(--background);
    color: var(--accent);
}

.option{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.buttons{
width:100%;
margin-bottom: 22.5px;
}

.signup-button{
width:100%;
color: var(--background);
background-color: var(--accent);
/* border: 1px solid #28ca9f; */
}

h4{
  font-weight: 400;
}

.login-button{
    width:100%;
    color: var(--background);
    background-color: var(--accent);
    /* border: 1px solid #28ca9f; */
}


a{
color:var(--accent);
text-decoration: none;
}





.error-message{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0.25rem;
    width: auto;
    text-align: center;
    background: rgb(227, 193, 198);
    color: rgb(159, 33, 33);
    border-radius: 5px;
}

.success-message {

    padding: 0.25rem;
    width: auto;
    text-align: center;
    background: rgb(193, 227, 211);
    color: var(--iteminactive);
    border-radius: 5px;

}

.button {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 22.5px;
    width: 100%;
    color: var(--background);
    background-color: var(--accent);
    font-size: 1rem;
    font-weight: 550;
    cursor: pointer;
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}