.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: var(--itemback) !important;
}


.the-title{
  width: 100%;
  padding: 15px;
  position: fixed;
  top: 0;

}

.titlee{
  max-width: 666px;
  margin: auto;
  justify-content: flex-start;
  padding: 15px;
   
    
}
.titlee h2 {
  /* margin-top: 2.5em; */
  /* width: 100%; */
  text-align: left;
  color: var(--accent);
  text-align: left;
  letter-spacing: 0.05em;
  margin-bottom: 1.5vh;
  font-weight: 400;

}

h2 {
  font-size: 1.25em;
}
.container {
 height: 100vh;
 width: 100vw;
 margin: auto;
 display: flex;
  
 align-items: center;
 justify-content: space-between;
}

.accordion{
 /* background-color: var(--background); */
 max-width: 666px;
 width:100%;
 margin: auto;
 padding: 1em;
 border-radius: 9px;
 /* border: 1px solid var(--accent); */

}

.accordion .accordion-content{
 margin: 10px 0;
 background-color: var(--background);
 border-radius: 5px;
 overflow: hidden;
}
.open{
 padding-bottom: 10px;
}
.accordion-content .open header{
  min-height: 35px;
  color: var(--accent);
}

.accordion .accordion-content header{
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: space-between;
 min-height: 50px;
 padding: 0 15px;
 color: var(--accent);
 
 font-size: 1rem;
 transition: all 0.2s linear;

}
.accordion .accordion-content header .title {
font-size: 1.1rem;
 /* font-family: 'Bebas Neue'; */
 letter-spacing: 0.075em;
}


.accordion .accordion-content .description{
  height: 0;
  padding: 0 15px;
  transition: all 0.2s linear;
}
.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: auto;
  background: var(--itemback);
  padding: 0.5vw;
}

.navbar-items {
  max-width: 666px;
  margin: auto;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.logout {
  /* float: right; */
  font-weight: 500;
  cursor: pointer;
  background-color: var(--itemback);
  color: var(--iteminactive);
}

.logout:hover {
  color: var(--accent);
  background: var(--itemback);
  border: none;
  font-weight: 600;
}

.logout:active {
  color: var(--background);
  background: var(--accent);
  border: none;
  font-weight: 600;
}

.info {
   float: right;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--itemback);
  color: var(--accent);
}

.info:hover {
  color: var(--accent);
  background: var(--background);
  border: none;
  font-weight: 600;
}

.info:active {
  color: var(--background);
  background: var(--accent);
  border: none;
  font-weight: 600;
}
button {
  font-size: 1rem;
  font-weight: 550;
  cursor: pointer;
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
}



@media only screen and (max-width: 600px) {


  .container {
    width: 100vw !important;
    padding: 0;
  }
  .accordion{
    padding: 0.5em;
  }
}

.navbar {
 
  padding-top: 0 1vh 4vh 1vh !important;

}